git --version

git config --global user.name "Nimble85"
git config --global user.email "????????@.com"
git config --list

          $ git config --list
          core.symlinks=false
          core.autocrlf=true
          core.fscache=true
          color.diff=auto
          color.status=auto
          color.branch=auto
          color.interactive=true
          help.format=html
          http.sslcainfo=C:/Program Files/Git/mingw64/ssl/certs/ca-bundle.crt
          diff.astextplain.textconv=astextplain
          rebase.autosquash=true
          credential.helper=manager
          user.email=???????@.com
          user.name=Nimble85


git --help config

git config --help
#The next configuration# Избегание не читаемых строк (ASCII symvols)
git config --global core.quotepath off

##Generate_ssh_key_git###
.ssh$ ssh-keygen
cat ~/.ssh/id_rsa.pub


#INITIALIZE A REPOSITORY FROM EXISTING CODE#
git init   -----> OR  --->  rm -rf .git (delite gitinit)


git status

          On branch master

          Initial commit
          Untracked files:
          (use "git add <file>..." to include in what will be committed)

          v1.txt

          nothing added to commit but untracked files present (use "git add" to track)

#we can create ignore file and add some instructions#
touch .gitignore
          .DS_Store
          .project
          *.pyc
          
         
#ADD FILES TO STAGING AREA#

git add .gitignore   #only this file#
git add -A          #add all files in directory#
git satus


#or delete it#
git reset .gitignore          #reset only this file#
git reset                     #reset all files in directory#
git status


#MAKE COMMIT#

git add -A
git commit -m "Initial Commit"
git status
git log

#CLONING A REMOTE REPO#

git clone <url> <where to clone>
git clone ../remote_repo.git .
ls -la

#VIEWING INFORMATION ABOUT THE ROMOTE REPOSITORY#

git remote -v
git branch -a

git remote add git@github.com:Nimble85/TEST.git

git remote remove origin    - delete repos
git remote remove github      -//-//-
git remote add origin https://github....


<H1>PUSHING CHANGES</H1>
#commit changes like we did previously#
git diff                #it`s show which changes was#
git status
git add -A
git commit -m "Modified multiply function"

#them push#

git pull origin master
git push origin master



<H1>Merge changes</H1>
for exemple from 'hotfix' to 'master'
        git checkout master
        git merge hotfix
        dit branch -D hotfix


git diff - получения ответов на два вопроса: что вы изменили, но ещё не проиндексировали, и что вы проиндексировали и собираетесь фиксировать
                 --cached   / --staged  что вы проиндексировали и что войдёт в следующий коммит
                    
                   
git rm --cached readme.txt              
       
$ git rm log/\*.log             удаляет все файлы, которые имеют расширение .log в каталоге log/. Или же вы можете сделать вот так:

$ git rm \*~       Эта команда удаляет все файлы, чьи имена заканчиваются на ~.
                    
 $ git mv file_from file_to            переименовать файл в Git'е,              
                    
                    Однако, это эквивалентно выполнению следующих команд:
                    $ mv README.txt README
                    $ git rm README.txt
                    $ git add README
                    
                    
=======================
                    
git init
                    
                    
git add .
git commit -m "1"
                    
                    
                    
======================
